body {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 100%;
}
p {
    color: white;
    font-size: 1vw;
}
a {
    color: white;
    font-size: 1vw;
}
h1 {
    color: black;
    -webkit-text-stroke: 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
}
h2 {
    color: white;
    font-size: 1.1vw;
}
h3 {
    color: black;
    -webkit-text-stroke: 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1vw;
}
div {
    background-color: black;
}
* {
    border-radius: 3px;
}
#icons {
    margin-top: 3%;
    margin-left: 3%;
    border: 2px solid white;
    float: left;
}
#icon {
    margin: 0.2vw;
    width: 2.5vw;
    height: 2.5vw;
}
#nav {
    margin-top: 3%;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: right;
    width: 15%;
}
#info {
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid white;
    position: relative;
    text-align: center;
    clear: left;
}
#status {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    border: 2px solid white;
    position: relative;
    text-align: center;
}
.light {
    margin-left: 5%;
    border: 2px solid rgb(117, 15, 138);
    float: left;
    width: 1vw; 
    height: 1vw; 
    animation: lightAnim 1s steps(5, start) infinite;
    -webkit-animation: lightAnim 1s steps(5, start) infinite;
}
.offline {
    margin-left: 5%;
    border: 2px solid rgb(117, 15, 138);
    float: left;
    width: 1vw; 
    height: 1vw; 
}
.githubShadow {
    -moz-box-shadow: 20px -10px rgb(117, 15, 138);
    -webkit-box-shadow: 20px -10px rgb(117, 15, 138);
    box-shadow: 20px -10px rgb(117, 15, 138);
}
.itchShadow {
    -moz-box-shadow: 20px -10px rgb(15, 99, 177);
    -webkit-box-shadow: 20px -10px rgb(15, 99, 177);
    box-shadow: 20px -10px rgb(15, 99, 177);
}
.discordShadow {
    -moz-box-shadow: 20px -10px rgb(177, 15, 15);
    -webkit-box-shadow: 20px -10px rgb(177, 15, 15);
    box-shadow: 20px -10px rgb(177, 15, 15);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000;
    border-left: 2px solid white;
}
::-webkit-scrollbar-thumb {
    background: rgb(177, 15, 15);
    margin-left: 2px;
    border-left: 2px solid white;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 99, 177);
    border-left: 2px solid white;
}
@keyframes lightAnim {
    to {
        background-color:rgb(117, 15, 138);
    }
  }
@-webkit-keyframes lightAnim {
    to {
        background-color:rgb(117, 15, 138);
    }
}
@media phone {
    /*Add special styling for phones*/
}