body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
p {
    font-size: large;
    color: white;
}
a {
    color: white;
}
h1 {
    color: black;
    -webkit-text-stroke: 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
h2 {
    color: white;
    font-size: larger;
}
h3 {
    color: black;
    -webkit-text-stroke: 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
#icons {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    float: top;
    border: 2px solid white;
    border-radius: 25px;
    align-items: center;
}
#icon {
    margin: 5px;
    float: left;
}
#nav {
    margin-top: 20px;
    float: right;
    width: 15%;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#info {
    position: relative;
    text-align: center;
    clear: left;
    height: auto;
    border: 2px solid white;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;
}
#status {
    position: relative;
    text-align: center;
    clear: left;
    height: auto;
    border: 2px solid white;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}
.light {
    float: left;
    width: 15px; 
    height: 15px; 
    margin-left: 20%;
    border-radius: 50%; 
    background-color: black;
    border: 2px solid rgb(117, 15, 138);
    animation: lightAnim 1s steps(5, start) infinite;
    -webkit-animation: lightAnim 1s steps(5, start) infinite;
}
.offline {
    float: left;
    width: 15px; 
    height: 15px; 
    margin-left: 20%;
    border-radius: 50%; 
    background-color: black;
    border: 2px solid rgb(117, 15, 138);
}
@keyframes lightAnim {
    to {
        background-color:rgb(117, 15, 138);
    }
  }
@-webkit-keyframes lightAnim {
    to {
        background-color:rgb(117, 15, 138);
    }
}
.githubShadow {
    -moz-box-shadow: 20px -10px rgb(117, 15, 138);
    -webkit-box-shadow: 20px -10px rgb(117, 15, 138);
    box-shadow: 20px -10px rgb(117, 15, 138);
}
.itchShadow {
    -moz-box-shadow: 20px -10px rgb(15, 99, 177);
    -webkit-box-shadow: 20px -10px rgb(15, 99, 177);
    box-shadow: 20px -10px rgb(15, 99, 177);
}
.discordShadow {
    -moz-box-shadow: 20px -10px rgb(177, 15, 15);
    -webkit-box-shadow: 20px -10px rgb(177, 15, 15);
    box-shadow: 20px -10px rgb(177, 15, 15);
}