body {
    background-color: black;
    margin: 0;
    padding: 0;
}
p {
    color: white;
}
h1 {
    color: black;
    -webkit-text-stroke: 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
#TitleBox {
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    align-content: center;
    height: 150px;
}
#TextBox {
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    align-content: center;
}
#GameBox {
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    align-content: center;
    height: 180px;
}
#Icon {
    float: left;
    margin-left: 1.7%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
     border-left: 2px solid white;
}
::-webkit-scrollbar-thumb {
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}