@charset "UTF-8";
*
{
    margin: 0;
    padding: 0;
}
body
{
    line-height: 32px;
    overflow: hidden;
}
p
{
    color: #CDDCD8;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
}
input
{
    font-size: 16px;
}
input:focus
{
    color: #CDDCD8;
    font-family: 'Ubuntu Mono', monospace;
}
i
{
    font-style: normal;
    color: #7DB830;
}
b
{
    font-style: normal; 
    color: #6888AA;
}
a
{
    color: #6888AA;
    font-size: 16px;
}
a:enabled
{
    color: #6888AA;
    font-size: 16px;
}
.terminal
{
    height: 80%;
    width: 92%;
    background-color: #300A24;
    padding: 12px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    position: absolute;
}
#input
{
    background: transparent;
    border: none;
    outline-width: 0;
    width: 100%;
    color: #CDDCD8;
    font-family: 'Ubuntu Mono', monospace;
}
form
{
    float: left;
    width: max-content;
}
span
{
    color: #CDDCD8;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: normal;
    color: #6888AA;
    background-color: #000;
    border-radius: 4px;
}
span:hover
{
    color: #7DB830;
    cursor: pointer;
}
.loading
{
    display: inline-block;
    clip-path: inset(0 3ch 0 0);
    animation: loadingDots 1s steps(4) infinite;
}
@keyframes loadingDots
{
    to
    {
        clip-path: inset(0 -1ch 0 0)
    }
}
@media (max-width: 550px)
{
    .terminal
    {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-sizing: border-box;
    }
    #top-text
    {
        display: none;
    }
}