H1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 250%;
    color: black
}
h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 250%;
    color: black
}
P {
    font-family: monospace, "Courier New", Times, serif;
    font-size: 100%;
    color: black
}
body {
    background-color: #36393F;
}
#LeftParent {
    width: 30%;
    float: left;
    bottom: 0;
}
#RightParent {
    width: 30%;
    float: right;
    bottom: 0;
}
#Make {
    top: 0;
    border: 3px solid black;
    margin-bottom: 30px;
}
#Commissions {
    bottom: 0;
    border: 3px solid black;
    height: 45%;
}
#Experience {
    top: 0;
    border: 3px solid black;
    height: 45%;
    margin-bottom: 30px;
}
#Contact {
    bottom: 0;
    border: 3px solid black;
    height: 45%;
}
#Discord {
    top: 0;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}