@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 30px;
    background-color: #300A24;
}
p {
    color: #CDDCD8;
    font-size: medium;
    font-family: 'Ubuntu Mono', monospace;
}
input {
    font-size: medium;
}
input:focus {
    color: #CDDCD8;
    font-family: 'Ubuntu Mono', monospace;
}
i {
    font-style: normal; 
    color: #7DB830;
}
b {
    font-style: normal; 
    color: #6888AA;
}
a {
    color: #6888AA;
    font-size: medium;
}
a:enabled {
    color: #6888AA;
    font-size: medium;
}