@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<!--Listen, I'm not amazing at HTML/CSS, so don't expect a lot from looking through these files.-->
<title>Pixelated_Lagg | Commissions</title>
<style>
    H1 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 250%;
        color: black
    }
    h2 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 250%;
        color: black
    }
    P {
        font-family: monospace, "Courier New", Times, serif;
        font-size: 100%;
        color: black
    }
    body {
        background-color: #36393F;
    }
    #LeftParent {
        width: 30%;
        float: left;
        bottom: 0;
    }
    #RightParent {
        width: 30%;
        float: right;
        bottom: 0;
    }
    #Make {
        top: 0;
        border: 3px solid black;
        margin-bottom: 30px;
    }
    #Commissions {
        bottom: 0;
        border: 3px solid black;
        height: 45%;
    }
    #Experience {
        top: 0;
        border: 3px solid black;
        height: 45%;
        margin-bottom: 30px;
    }
    #Contact {
        bottom: 0;
        border: 3px solid black;
        height: 45%;
    }
    #Discord {
        top: 0;
        height: 20%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
</style>
<html>
<body>
    <div>
        <div id="Header">
            <H1 style="text-align: center">@ViewData["titleactual"]</H1>
        </div>
        <div id="LeftParent">
            <div id="Make">
                <h2 style="text-align: center">[What I Can Make]</h2>
                <br />
                <p style="text-align: center">× Advanced Discord Bots</p>
                <br />
                <p style="text-align: center">× General Applications</p>
                <br />
                <p style="text-align: center">× 3D and 2D Game Environments</p>
            </div>
            <div id="Commissions">
                <h2 style="text-align: center">[Commissions]</h2>
                <br />
                <p style="text-align: center">× As of @ViewData["TimeStamp"], Commissions Are @ViewData["ComStatus"]</p>
                <br />
                <p style="text-align: center">× I Have No Business Hours, I Work in my Freetime</p>
                <br />
                <p style="text-align: center">× After You Specify Your Needs, I Determine a Suitable Price - No Hidden Fees</p>
            </div>
        </div>
        <div id="RightParent">
            <div id="Experience">
                <h2 style="text-align: center">[My Experience]</h2>
                <br />
                <p style="text-align: center">× Years of C# Experience</p>
                <br />
                <p style="text-align: center">× Years of Unity Experience</p>
                <br />
                <p style="text-align: center">× Years of Visual Studio Experience</p>
            </div>
            <div id="Contact" class="relative">
                <h2 style="text-align: center">[Contact]</h2>
                <br />
                <div id="Discord">
                    <a href="https://discord.gg/4W5rTDD73X">
                        <img src="Images/discordImageActual.png" style="width: 380px; height: 80px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
